<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.devi.mappers.UserMapper">
	
	<!-- @@ 수정 -->
	<select id="findByUsernameAndPassword" resultType="User" resultMap="userResultMap" parameterType="hashmap">
		SELECT * FROM users WHERE username = #{username} AND password = #{password}
	</select>
	
	<!-- 유저 생성 쿼리 -->
	<insert id="save" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO users(username, password, email, role, created_date, modified_date) 
		values(#{username}, #{password}, #{email}, #{role}, CURRENT_TIMESTAMP(), CURRENT_TIMESTAMP())
	</insert>
	
	<resultMap type="User" id="userResultMap">
		<id column="id" property="id" />
		<result column="username"  property="username"/>
		<result column="password"  property="password"/>
		<result column="email"  property="email"/>
		<result column="role"  property="role"/>
		<result column="created_date"  property="createdDate"/>
		<result column="modified_date"  property="modifiedDate"/>
	</resultMap>
	
	
</mapper>